# ChatData

## Sqlite
We are using a file system called **sqlite**. It looks and acts like a real single user relational database (RDB). sqlite3 comes packaged with python. You do not need to install the library. You simply import it (as below).

- We are using Pandas to write and read to sqlite. Pandas will manage a lot of the complexity of dealing with a RDB. There are other ways of reading and writing to a RDB that are VERY common and often used in production systems.  

- The most common other way is to read or write to the RDB row by row. As you can see Pandas puts the entire dataframe into the RDB or extracts a new dataframe from the RDB. These are not row by row operations. These are set operations. Set operations ARE more efficient. However, it is common to use row by row operations to avoid needing large memory computers to hold the dataframes. One row only takes a few bytes. An entire dataframe could be many gigabytes and even petabytes of data. Obviously you will end up with problems with your compute resource if your files are this big. This will not happen to you in this activity and may never happen to you while you are a data analyst. Please just be aware of this. 

- This activity is primarily about querying a RDB, so, we are using a simple way that Pandas provides. If you want to learn the more complex way, just google 'reading and wrting to a relational database using python'. There are many resources to learn from.

- The data types that sqlite supports are quite limited. for example, it does not have a DATE type.  This is not a challenge for this project. However, more sophisticated database systems,such as Postgresql, have a large array of data types, such as "DATE", etc. that give those systems additional capability. 

- All of the SQL queries could also be performed on the Pandas DataFrames directly.  You may want to try this yourself for comparison (but make sure you do the SQL queries first, as this is an exercise in using SQL!).


## SQL Magic
Within the Jupyter notebook we will be using something called **SQL Magic**.  This provides a convenient way to write SQL queries directly into code cells in the notebook and to read the results back into a Pandas DataFrame.  This makes working with SQL much easier!

Note that you may need to update your sqlite version using `conda update -c anaconda sqlite` in order for the SQL Magic to work correctly.

## The Data Analysis Lifecycle
The sections in this notebook follow the stages of the Data Analysis Lifecycle introduced in an earlier activity.  The stages are:

- Acquire
- Transform
- Organise
- Analyse
- Communicate
- Maintain

The requirements document for this project is Template SQL queries.xlsx.

# Preliminary Steps: Create a Database
First let's import Sqlite and the other libraries we will need.

In [204]:
# Import Libraries
import numpy as np
import pandas as pd
import sqlite3

### Create the Database
Now we will create the Sqlite database.  Here is some code that does this for you.  We use the `%load_ext` magic command to load the SQL Magic extension and then use `%sql` to connect to the database.

In [205]:
# If the db does not exist, sqlite will create it.
con = sqlite3.connect('chatdata.db')

# loads sql magic
%load_ext sql 

# connects sql magic command to the correct db
%sql sqlite:///chatdata.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [206]:
%reload_ext sql
# connects sql magic command to the correct db
%sql sqlite:///chatdata.db

#### Drop the `queries` table if it already exists
The queries table will be our record of the queries created to answer the questions from the requirements spreadsheet.  As we will be running this Jupyter notebook a few times, let's drop (i.e. remove) the queries table so that we start fresh each time.  Here is the code to do this.  We use the `%%sql` magic command to tell Jupyter that we are going to write SQL in the cell.

In [207]:
%%sql
DROP TABLE IF EXISTS 'queries'

 * sqlite:///chatdata.db
Done.

[]

# Task 1: Load the Data
Now we can start loading the data.  The tables will be created as we load the data.  

Note that some of these files are quite large, so make sure you have plenty of free memory!

## Lifecycle Stages: Transform and Organise
The data has already been processed into 3 clean data files ready for this project:

- queries.csv
- posts.csv
- comments.csv

We will load these files into our database.

## Lifecycle Stage: Acquire
The data can be found in the OpenClassrooms instructions for this activity.

### Load Comments Data into a `comments` table
Now we will load the data from the csv files into our sqlite database.

First we load the csv file into a Pandas dataframe:

In [208]:
comments = pd.read_csv('comments.csv')
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

Now take the comments dataframe and push the data into the Sqlite database table called 'comments':

In [209]:
# load comments into sqlite
comments.to_sql('comments', con, if_exists='replace', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM comments'
comments = pd.read_sql(sql, con)
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

### Load Other CSVs
Now that you have seen the code for loading in the comments.csv now do the same to read and write the posts.csv and users.csv to sqlite. 

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter code in the following cells. Insert as many cells as you want to do this.
    </font></div>

In [210]:
# TODO posts.csv
posts = pd.read_csv('posts.csv')
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,NaN,...,NaN,NaN,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,NaN
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,NaN,...,NaN,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,NaN,NaN
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,NaN,...,NaN,NaN,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,NaN,NaN
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,NaN,...,NaN,NaN,2019-08-24 09:57:01,NaN,NaN,0,0,0,NaN,NaN
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,NaN,...,NaN,2019-08-24 12:13:46,2019-08-24 12:13:46,NaN,NaN,0,1,0,NaN,NaN

In [211]:
# load posts into sqlite
posts.to_sql('posts',con, if_exists = 'replace', index=False)

# read back in to prove that it worked
sql='SELECT * FROM posts'
posts= pd.read_sql(sql,con)
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,None,...,None,None,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,None
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,None,...,None,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,None,None
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,None,...,None,None,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,None,None
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,None,...,None,None,2019-08-24 09:57:01,None,None,0,0,0,None,None
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,None,...,None,2019-08-24 12:13:46,2019-08-24 12:13:46,None,None,0,1,0,None,None

In [212]:
# TODO Users.csv
users = pd.read_csv('users.csv')
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,NaN,NaN,NaN,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,NaN,NaN,NaN,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,NaN,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,NaN,NaN,NaN,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,NaN,NaN,NaN,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

In [213]:
# Load Users into sqlite
users.to_sql('users',con, if_exists = 'replace', index=False)

#read back 
sql =" SELECT * FROM users"
users = pd.read_sql(sql,con)
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,None,None,None,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,None,None,None,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,None,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,None,None,None,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,None,None,None,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

### **TODO**: Drop Duplicates
Look for and drop any duplicates in all 3 of the tables (if they exist). Use Pandas to do this. If you find duplicates, you will need to rewrite the table.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter code in the following cells. 
    </font></div>

In [214]:
# Find out if we have any duplicates Comments
# Check for duplicate rows based on the 'Id' column
duplicate_rows = comments[comments.duplicated(subset =['Id'], keep = False)]


# Sort duplicate_rows DataFrame by the "Id" column
duplicate_rows = duplicate_rows.sort_values(by=['Id'])

# Print the duplicate rows if any
if not duplicate_rows.empty:
    print("Duplicate Rows:")
    print(duplicate_rows)
else:
    print("No duplicate rows found comment dataset.")

No duplicate rows found comment dataset.

In [215]:
# Find out if we have any duplicates Posts
# Check for duplicate rows based on the 'Id' column
duplicate_rows = posts[posts.duplicated(subset =['Id'], keep = False)]


# Sort duplicate_rows DataFrame by the "Id" column
duplicate_rows = duplicate_rows.sort_values(by=['Id'])

# Print the duplicate rows if any
if not duplicate_rows.empty:
    print("Duplicate Rows:")
    print(duplicate_rows)
else:
    print("No duplicate rows found in posts dataset.")

No duplicate rows found in posts dataset.

In [216]:
# Find out if we have any duplicates users
# Check for duplicate rows based on the 'Id' column
duplicate_rows = users[users.duplicated(subset =['Id'], keep = False)]


# Sort duplicate_rows DataFrame by the "Id" column
duplicate_rows = duplicate_rows.sort_values(by=['Id'])

# Print the duplicate rows if any
if not duplicate_rows.empty:
    print("Duplicate Rows:")
    print(duplicate_rows)
else:
    print("No duplicate rows found in users dataset.")

No duplicate rows found in users dataset.

## Review the Data

Spend some time reviewing the data.  Understand what data we have, think about how that data can be used to assist in the initiative of understanding how ChatData is used in the real world.  Is the data organised in a way that would lend itself to being manged in a relational database?  How would the different tables be connected?  What are the primary and foreign keys?  Would this give you a 3NF model?

Also think about security and ethics.  Is there personal data in here?  Could individuals be identified through this data?  It it ethical to use the data in this way?  You will be asked to comment on these questions later!

Use the code below to help you.

In [217]:
users.columns

Index(['Id', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'ProfileImageUrl', 'AccountId'],
      dtype='object')

In [218]:
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,None,None,None,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,None,None,None,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,None,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,None,None,None,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,None,None,None,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

In [219]:
comments.columns

Index(['Id', 'PostId', 'Score', 'Text', 'CreationDate', 'UserId'], dtype='object')

In [220]:
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

In [221]:
posts.columns

Index(['Id', 'PostTypeId', 'AcceptedAnswerId', 'ParentId', 'CreationDate',
       'Score', 'ViewCount', 'Body', 'OwnerUserId', 'OwnerDisplayName',
       'LastEditorUserId', 'LastEditorDisplayName', 'LastEditDate',
       'LastActivityDate', 'Title', 'Tags', 'AnswerCount', 'CommentCount',
       'FavoriteCount', 'ClosedDate', 'CommunityOwnedDate'],
      dtype='object')

In [222]:
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,None,...,None,None,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,None
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,None,...,None,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,None,None
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,None,...,None,None,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,None,None
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,None,...,None,None,2019-08-24 09:57:01,None,None,0,0,0,None,None
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,None,...,None,2019-08-24 12:13:46,2019-08-24 12:13:46,None,None,0,1,0,None,None

# Working with Sqlite and SQL Magic
In this section let's spend a little time understanding a bit more about how we can work with Sqlite within Jupyter.

Let's look at 2 ways to query the sqlite database: using SQL Magic or using Pandas.  Either way is fine for this project.

## Writing queries with SQL Magic

You will now need to write some queries to get answers to the questions in the requirements.  

For single-line queries, start the cell with `%sql` and simply enter your query:

In [223]:
# This is an example
%sql SELECT COUNT(*) FROM comments

 * sqlite:///chatdata.db
Done.

[(50000,)]

For multi line sql statements use `%%sql` as follows. This tells Jupyter that *everything* in this cell should be interpreted as sql. So, NO comments other statements are allowed:

In [224]:
%%sql
SELECT Id, PostId, Score, Text
    FROM comments
        LIMIT 5

 * sqlite:///chatdata.db
Done.

[(723182, 385124, 0, '@BenBolker I don\'t understand. The fit cannot be done for the negative $y$. So intuitively I\'d think that in order to retain the relativity of the  ... (24 characters truncated) ... rror" or "flip" it to the positive axis? Would it be possible to adjust every point individually? Basically e.g. take $abs(y_i)$ instead of minimums.'),
 (723183, 385124, 3, "You can't add *less* than (`-min(y)`), but you could add *more*. I'm going to stop answering now sorry, because **judging what the 'best' approach is ... (60 characters truncated) ...  of the analysis, why you need to fit an exponential, your level of computational and statistical sophistication and that of your audience, etc. ...)"),
 (723186, 385137, 0, 'nice. If you felt like doing the work it would be nice to generate an image/contour plot of log-likelihood as a function of (mu, theta) and show the lines corresponding to the two `size` values .'),
 (723187, 385137, 0, 'i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,size=size,log=TRUE)),\n                 xlim=c(2,5),ylim=c(0.2,0.5),\n                 varnames=c("mu","s ... (57 characters truncated) ... ,col="red")\nabline(h=fit.what$theta,col="blue")\n` ... although doesn\'t look this is actually the answer - mu-hat is independent of theta-hat ... ?'),
 (723188, 385134, 0, 'Don\'t you mean "so variance should be $\\sigma^2/(n\\mu^2)$"')]

## Writing queries with Pandas
Another way to write queries is to use pandas:

In [225]:
sql = """
SELECT Id, PostId, Score, Text
    FROM comments
        LIMIT 5
        """
result = pd.read_sql(sql, con)
result

       Id  PostId  Score                                               Text
0  723182  385124      0  @BenBolker I don't understand. The fit cannot ...
1  723183  385124      3  You can't add *less* than (`-min(y)`), but you...
2  723186  385137      0  nice. If you felt like doing the work it would...
3  723187  385137      0  i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...
4  723188  385134      0  Don't you mean "so variance should be $\sigma^...

# Creating Tables with Referential Integrity

When we loaded the csv files into Sqlite database tables, Sqlite created the tables for us behind the scenes. Let's inspect this a bit more.

We can see how Sqlite created the tables by querying the `sqlite_master` table, which Sqlite uses to keep track of what objects have been created in the database:

In [226]:
%%sql
select sql from sqlite_master

 * sqlite:///chatdata.db
Done.

[('CREATE TABLE "comments" (\n"Id" INTEGER,\n  "PostId" INTEGER,\n  "Score" INTEGER,\n  "Text" TEXT,\n  "CreationDate" TEXT,\n  "UserId" INTEGER\n)',),
 ('CREATE TABLE "posts" (\n"Id" INTEGER,\n  "PostTypeId" INTEGER,\n  "AcceptedAnswerId" INTEGER,\n  "ParentId" INTEGER,\n  "CreationDate" TEXT,\n  "Scor ... (240 characters truncated) ...   "Tags" TEXT,\n  "AnswerCount" INTEGER,\n  "CommentCount" INTEGER,\n  "FavoriteCount" INTEGER,\n  "ClosedDate" TEXT,\n  "CommunityOwnedDate" TEXT\n)',),
 ('CREATE TABLE "users" (\n"Id" INTEGER,\n  "Reputation" INTEGER,\n  "CreationDate" TEXT,\n  "DisplayName" TEXT,\n  "LastAccessDate" TEXT,\n  "WebsiteUr ... (17 characters truncated) ... tion" TEXT,\n  "AboutMe" TEXT,\n  "Views" INTEGER,\n  "UpVotes" INTEGER,\n  "DownVotes" INTEGER,\n  "ProfileImageUrl" TEXT,\n  "AccountId" INTEGER\n)',)]

The above results show the `CREATE TABLE` statements that could be used by Sqlite to recreate the tables with the exact same structure.

The problem with the CREATE TABLE statements above is that they don't enforce **referential integrity**.  In other words, they don't ensure that every UserId and PostId in the comments table refers to an actual UserId and PostId in the users and posts tables.  At the moment. we can insert any old number here, and even have multiple users with the same Id!  One of the advantages of working with relational databases is that they can enforce the correct uniqueness and relationships in the data, but at the moment we are not using that feature.  So let's fix that...

First, let's drop the original tables:

In [227]:
%%sql
DROP TABLE comments;
DROP TABLE users;
DROP TABLE posts;

 * sqlite:///chatdata.db
Done.
Done.
Done.

[]

Prove that this worked by selecting the names of the tables back.  We should have no tables:

In [228]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'
    ORDER BY name

 * sqlite:///chatdata.db
Done.

[]

In Sqlite we need to enable the enforcement of foreign key constraints:

In [229]:
%%sql
PRAGMA foreign_keys=ON;

 * sqlite:///chatdata.db
Done.

[]

Now recreate the users table with a **primary key constraint** by copying the CREATE TABLE statement from above and adding the NOT NULL PRIMARY KEY clause to the Id:

In [230]:
%%sql
DROP TABLE "users";

 * sqlite:///chatdata.db
(sqlite3.OperationalError) no such table: users
[SQL: DROP TABLE "users";]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [231]:
%%sql
CREATE TABLE "users" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"Reputation" INTEGER,
"CreationDate" TEXT,
"DisplayName" TEXT,
"LastAccessDate" TEXT,
"WebsiteUrl" TEXT,
"Location" TEXT,
"AboutMe" TEXT,
"Views" INTEGER,
"UpVotes" INTEGER,
"DownVotes" INTEGER,
"ProfileImageUrl" TEXT,
"AccountId" INTEGER
);

 * sqlite:///chatdata.db
Done.

[]

Now do the same for the posts table:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [232]:
%%sql
DROP TABLE "posts";

 * sqlite:///chatdata.db
(sqlite3.OperationalError) no such table: posts
[SQL: DROP TABLE "posts";]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [235]:
# Run the CREATE TABLE statement for the posts table, including the primary key constraint
# TODO
%%sql CREATE TABLE "posts"( 
    "Id" INTEGER NOT NULL PRIMARY KEY,
    "PostTypeId" INTEGER,
    "AcceptedAnswerId" INTEGER,
    "ParentId" INTEGER,
    "CreationDate" TEXT,
    "Score" INTEGER,
    "ViewCount" INTEGER,
    "Body" TEXT,
    "OwnerUserId" INTEGER,
    "OwnerDisplayName" TEXT,
    "LastEditorUserId" INTEGER,
    "LastEditorDisplayName" TEXT,
    "LastEditDate" TEXT,
    "LastActivityDate" TEXT,
    "Title" TEXT,
    "Tags" TEXT,
    "AnswerCount" INTEGER,
    "CommentCount" INTEGER,
    "FavoriteCount" INTEGER,
    "ClosedDate" TEXT,
    "CommunityOwnedDate" TEXT,
    FOREIGN KEY ("OwnerUserId") REFERENCES "users"("Id"),
    FOREIGN KEY ("LastEditorUserId") REFERENCES "users"("Id")
);

 * sqlite:///chatdata.db
Done.

[]

Now for the comments table.  We need to add the primary key constraint on the id here as we did for users and posts, but we also need to add FOREIGN KEY constraints on the UserId and PostId. Read the documentation here and find our how to do that: https://www.sqlite.org/foreignkeys.html.  Then create the comments table with the correct constraints:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [38]:
%%sql
DROP TABLE "comments";

 * sqlite:///chatdata.db
(sqlite3.OperationalError) no such table: comments
[SQL: DROP TABLE "comments";]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [236]:
# Run the CREATE TABLE statement for the comments table, including the primary key constraint and the 2 foreign key constraints
# TODO
%%sql CREATE TABLE "comments"(
    "Id" INTEGER NOT NULL PRIMARY KEY,
    "PostId" INTEGER,"Score" INTEGER,
    "Text" TEXT,
    "CreationDate" TEXT,
    "UserId" INTEGER,
    FOREIGN KEY ("PostId") REFERENCES "posts"("Id"),
    FOREIGN KEY ("UserId") REFERENCES "users"("Id")
);

 * sqlite:///chatdata.db
Done.

[]

Now we can re-insert the data into these constrained tables.  First users:

In [237]:
# Insert data into the new users table
users.to_sql('users', con, if_exists='append', index=False)

Now posts:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [238]:
# Insert data into the new posts table
# TODO
posts.to_sql('posts',con, if_exists= 'append', index=False)

Finally comments, which references the users and posts tables:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [239]:
# Insert data into the new comments table
# TODO
comments.to_sql('comments',con, if_exists= 'append', index=False)

Now check that we have the 3 new table definitions in Sqlite:

In [240]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'
    ORDER BY name

 * sqlite:///chatdata.db
Done.

[('comments',), ('posts',), ('users',)]

We now have all the data in tables in Sqlite and the tables will enforce the referential integrity.

# Example Query and Pattern for Tasks 2 and 3

As you work through the next tasks, you will need to:

1. Prepare the Sqlite query to answer the question
2. Test it
3. Insert it into the `queries` table, so we have a record of it for others.

This is the process that we want you to follow for this project while completing it.

Let's see an example of this by answering the following question:

**Which 5 users have viewed the most times and what is the sum of those views per user?**

## Prepare the Sqlite query

First, let's write the query:

In [241]:
sql = """
SELECT Id As UserId, SUM(Views) AS TotalViews
    FROM Users
        GROUP BY Id
            ORDER BY TotalViews DESC
                LIMIT 5
                """
result = pd.read_sql(sql, con) # con is the connection to the database
result

   UserId  TotalViews
0     919       85180
1    4253       35119
2     805       34637
3    7290       32639
4    3277       29255

## Test the query
You can optionally prove the query worked by performing the same query in Pandas:

In [242]:
results = users.groupby(['Id']).sum().sort_values('Views', ascending = False)[:5]
results['Views']

Id
919     85180
4253    35119
805     34637
7290    32639
3277    29255
Name: Views, dtype: int64

## Insert the query into the `queries` table
Now we need to put this query into the `queries` table in sqlite. Remember we want these queries to be accessible to everybody that should have access to them. We do not want people writing and rewriting the same queires over and over again. The easiest thing to do is create a dictionary with the values and insert these into the queries table.  Note that the values are provided as lists as we are inserting a list of values (i.e. a number of rows) into the table.  In this case the number of rows is 1, so we have lists of 1 item.

So here, we have a column called 'task' with a list of values, a column called 'action' with a list of values, etc.

In [243]:
query_dict = {
              'task': ['Single Table Queries'],
              'action': ['Which 5 users have viewed the most times and what is the sum of those views per user?'],
              'query': [sql]
             }
query_dict

{'task': ['Single Table Queries'],
 'action': ['Which 5 users have viewed the most times and what is the sum of those views per user?'],
 'query': ['\nSELECT Id As UserId, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                ']}

Now that you have the data structure (query_dict) containing the data, create a pandas dataframe that holds those values:

In [80]:
queries = pd.DataFrame(query_dict)
queries

,task,action,query
0,Single Table Queries,Which 5 users have viewed the most times and w...,"\nSELECT Id As UserId, SUM(Views) AS TotalView..."

Now load that pandas dataframe (queries) into the sqlite table called queries. In this case, you use append NOT replace. You will be adding to this tables as you go thru this project.

In [81]:
# load query into sqlite
queries.to_sql('queries', con, if_exists='append', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM queries'
queries = pd.read_sql(sql, con)
queries.head()

,task,action,query
0,Single Table Queries,Which 5 users have viewed the most times and w...,"\nSELECT Id As UserId, SUM(Views) AS TotalView..."

It is likely that as you iterate thru this notebook you will create some duplicate entries in the query table. Not a big deal. Just tell sql or pandas (much easier in pandas) to drop the duplicates! If you drop the duplicates in Pandas you will have to write the entire dataframe back to sqlite. Otherwise it is changed in memory in Pandas but NOT in sqlite on the disk drive (or SDD). Just do this drop at the end of this notebook so that you are not constantly dealing with this.

So, to summarise, as you go through the following tasks you need to:

- answer the question in sql
- prove it in pandas (if you want to)
- put the query into the queries table

# Task 1 (continued): Insert the CREATE TABLE Statements into the `queries` Table

Now that we understand how to populate the `queries` table, let's insert the CREATE TABLE statements into it.  First let's define a function to help us insert into the queries table:

In [244]:
# Define a function that will insert into the queries table
def store_query(task, action, query):
    query_dict = {
                  'task': [task],
                  'action': [action],
                  'query': [query]
                 }

    # put query into the query_dict
    queries = pd.DataFrame(query_dict)

    # load query into sqlite
    queries.to_sql('queries', con, if_exists='append', index=False)

Now we can specify the queries and call the above function to store them.  The first one is done for you.

In [245]:
sql = """
    CREATE TABLE "comments" (
    "Id" INTEGER,
    "PostId" INTEGER,
    "Score" INTEGER,
    "Text" TEXT,
    "CreationDate" TEXT,
    "UserId" INTEGER
    )
    """
store_query("Task 1", "Create table comments", sql)

Let's prove it works by selecting back from the queries table:

In [246]:
# Prove it works
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    ')]

## Insert the other CREATE TABLE statements into the `queries` table.
Follow the above pattern to complete these code cells:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cells
    </font></div>

In [247]:
# Insert the CREATE TABLE for posts into the queries table
# TODO
sql = """
    CREATE TABLE "posts" (
   "Id" INTEGER,
   "PostTypeId" INTEGER,
   "AcceptedAnswerId" INTEGER,
   "ParentId" INTEGER,
   "CreationDate" TEXT,
   "Score" INTEGER,
   "ViewCount" INTEGER,
   "Body" TEXT,
   "OwnerUserId" INTEGER,
   "OwnerDisplayName" TEXT,
   "LastEditorUserId" INTEGER,
   "LastEditorDisplayName" TEXT,
   "LastEditDate" TEXT,
   "LastActivityDate" TEXT,
   "Title" TEXT,
   "Tags" TEXT,
   "AnswerCount" INTEGER,
   "CommentCount" INTEGER,
   "FavoriteCount" INTEGER,
   "ClosedDate" TEXT,
   "CommunityOwnedDate" TEXT 
    )
    """
store_query("Task 1", "Create table posts", sql)

In [248]:
# Insert the CREATE TABLE for users into the queries table
# TODO
sql= """
    CREATE TABLE "users"(
    "Id" INTEGER,
    "Reputation" INTEGER,
    "CreationDate" TEXT,
    "DisplayName" TEXT,
    "LastAccessDate" TEXT,
    "WebsiteUrl" TEXT,
    "Location" TEXT,
    "AboutMe" TEXT,
    "Views" INTEGER,
    "UpVotes" INTEGER,
    "DownVotes" INTEGER,
    "ProfileImageUrl" TEXT,
    "AccountId" INTEGER
    )
    """
store_query("Task 1", "Create table users", sql)

In [249]:
# Prove it works
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    '),
 ('Task 1', 'Create table posts', '\n    CREATE TABLE "posts" (\n   "Id" INTEGER,\n   "PostTypeId" INTEGER,\n   "AcceptedAnswerId" INTEGER,\n   "ParentId" INTEGER,\n   "CreationDate" T ... (280 characters truncated) ...    "AnswerCount" INTEGER,\n   "CommentCount" INTEGER,\n   "FavoriteCount" INTEGER,\n   "ClosedDate" TEXT,\n   "CommunityOwnedDate" TEXT \n    )\n    '),
 ('Task 1', 'Create table users', '\n    CREATE TABLE "users"(\n    "Id" INTEGER,\n    "Reputation" INTEGER,\n    "CreationDate" TEXT,\n    "DisplayName" TEXT,\n    "LastAccessDate" TE ... (60 characters truncated) ... tMe" TEXT,\n    "Views" INTEGER,\n    "UpVotes" INTEGER,\n    "DownVotes" INTEGER,\n    "ProfileImageUrl" TEXT,\n    "AccountId" INTEGER\n    )\n    ')]

## Count the Number of Rows in Each Table
Run some queries to count the number of rows in each of the tables.  Don't forget to insert the query into the queries table.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cells
    </font></div>

In [250]:
# Count the number of rows in the comments table
# TODO
sql="""
    SELECT COUNT(*) AS row_count_comments
    FROM Comments
    """
store_query("Task 1", "Count the number of rows in the comments table", sql)

In [251]:
# Count the number of rows in the users table
# TODO
sql="""
    SELECT COUNT(*) AS row_count_users
    FROM Users
    """
store_query("Task 1", "Count the number of rows in the users table", sql)

In [252]:
# Count the number of rows in the posts table
# TODO
sql="""
    SELECT COUNT(*) AS row_count_posts
    FROM Posts
    """
store_query("Task 1", "Count the number of rows in the posts table", sql)

## Do some Random Checks on the Data
Let's write some queries that select 5 random rows from each table.  The queries are provided here:

    select * from Comments order by random() limit 5;
    select * from Users order by random() limit 5;
    select * from Posts order by random() limit 5;

Enter the queries into the code cells below and insert the queries into the `queries` table in the same was as you did for the CREATE TABLE statements.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cells
    </font></div>

In [253]:
# Run the query to select 5 random rows from the posts table
# TODO
sql="""
    SELECT * 
    FROM Posts
    ORDER BY random()
    LIMIT 5;
    """
store_query("Task 1", "Run the query to select 5 random rows from the posts table", sql)

In [254]:
# Run the query to select 5 random rows from the posts comments
# TODO
sql="""
    SELECT * 
    FROM Comments
    ORDER BY random()
    LIMIT 5;
    """
store_query("Task 1", "Run the query to select 5 random rows from the comments table", sql)

In [255]:
# Run the query to select 5 random rows from the users table
# TODO
sql="""
    SELECT * 
    FROM Users
    ORDER BY random()
    LIMIT 5;
    """
store_query("Task 1", "Run the query to select 5 random rows from the users table", sql)

# Task 2: Create Single Table Queries

## Lifecycle Stage: Analyze
We can now start the analysis with our single-table queries.  First we need to create a new computed column to help with one of the queries.  The code below creates a column called LEN_BODY which is the length of the BODY text:

In [256]:
%%sql
ALTER TABLE POSTS ADD COLUMN LEN_BODY INT

 * sqlite:///chatdata.db
Done.

[]

In [257]:
%%sql
UPDATE POSTS SET LEN_BODY = LENGTH(BODY)

 * sqlite:///chatdata.db
42234 rows affected.

[]

### Single Table Queries
From the Template SQL Queries there are a series of queries requested. You are responsible for coding the result. Use the pattern above to accomplish the coding objective.  Copy and paste the question (column B Action) into a markdown cell and answer the query. Use the pattern that you have been using above. 

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter your code below.  Just keep on inserting cells as you need them.
    </font></div>

In [258]:
# TODO- How many posts have 0 comments?
sql="""
    SELECT COUNT(*)
    FROM posts
    WHERE CommentCount == 0;
    """
store_query("Task 2", "How many posts have 0 comments?", sql)

In [259]:
# TODO- How many posts have 1 comments?
sql="""
    SELECT COUNT(*)
    FROM posts
    WHERE CommentCount == 1;
    """
store_query("Task 2", "How many posts have 1 comments?", sql)

In [260]:
# TODO- How many posts have 2 comments or more?
sql="""
    SELECT COUNT(*)
    FROM posts
    WHERE CommentCount >= 2;
    """
store_query("Task 2", "How many posts have 2 comments or more?", sql)

In [261]:
# TODO - Find the 5 posts with the highest viewcount
sql="""
    SELECT Id AS Post_id , ViewCount
    FROM Posts
    ORDER BY ViewCount DESC
    LIMIT 5;
    """
store_query("Task 2", "Find the 5 posts with the highest viewcount", sql)

In [262]:
# TODO - Find the top 5 posts with the highest scores
sql="""
    SELECT Id AS Post_id , Score
    FROM Posts
    ORDER BY Score DESC
    LIMIT 5;
    """
store_query("Task 2", "Find the top 5 posts with the highest scores", sql)

In [263]:
# TODO - What are the 5 most frequent scores on posts?
sql="""
    SELECT Score, COUNT(*) AS score_count
    FROM Posts
    GROUP BY Score
    ORDER BY score_count DESC
    LIMIT 5;
    """
store_query("Task 2", "What are the 5 most frequent scores on posts?", sql)

In [264]:
# TODO - How many posts have the keyword "data" in their tags?
sql="""
    SELECT COUNT(*) AS number_of_posts_with_data_tag
    FROM POSTS
    WHERE Tags LIKE '%<data>%';
    """
store_query("Task 2", "How many posts have the keyword 'data' in their tags?", sql)

In [265]:
# TODO - What are the 5 most frequent commentcount for posts?
sql="""
    SELECT CommentCount, COUNT(*) AS CommentCount_frequently
    FROM Posts
    Group BY CommentCount
    ORDER BY CommentCount_frequently
    LIMIT 5;
    """
store_query("Task 2", "What are the 5 most frequent commentcount for posts?", sql)

In [266]:
# TODO - How many posts have an accepted answer?
sql="""
    SELECT COUNT(*) As count_accepted_answer
    FROM Posts
    WHERE AcceptedAnswerId <> 0;
    """
store_query("Task 2", "How many posts have an accepted answer?", sql)

In [267]:
# TODO - What is the average reputation of table users?
sql="""
    SELECT AVG(Reputation) AS user_agerage_reputation
    FROM Users;
    """
store_query("Task 2", "What is the average reputation of table users?", sql)

In [268]:
#TODO- What are the min and max reputation of users?
sql="""
    SELECT MIN(Reputation) AS user_min_reputation , MAX(Reputation) AS user_max_reputation 
    FROM Users;
    """
store_query("Task 2", "What are the min and max reputation of users?", sql)

In [269]:
#TODO- What is the length of the body of 5 most viewed posts?
sql="""
    SELECT Id as Post_id, LEN_BODY
    FROM Posts
    ORDER BY ViewCount DESC
    LIMIT 5;
    """
store_query("Task 2", "What is the length of the body of 5 most viewed posts?", sql)

In [270]:
#TODO- How many different locations are there in the users table?
sql= """
    SELECT COUNT(DISTINCT  Location ) AS location_count
    FROM Users;
    """
store_query("Task 2", "How many different locations are there in the users table?", sql)

In [271]:
#TODO- What are the top 5 locations of users?
sql="""
    SELECT Location, COUNT(*) as number_of_users
    FROM Users
    GROUP BY Location
    ORDER BY number_of_users DEsc
    LIMIT 5;
    """
store_query("Task 2", "What are the top 5 locations of users?", sql)

In [272]:
#TODO- Rank the days of the week from highest to lowest in terms of the volume of ViewCount as a percentage.
sql="""
    SELECT CAST (strftime('%w', CreationDate) AS INTEGER) AS DayOfWeek,
       COUNT(*) * 100.0 / (SELECT COUNT(*) FROM posts) AS Percentage
    FROM posts
    GROUP BY DayOfWeek
    ORDER BY Percentage DESC;
    """
store_query("Task 2", "Rank the days of the week from highest to lowest in terms of the volume of ViewCount as a percentage", sql)

# Task 3: Cross Table Queries

## Lifecycle Stage: Analyze
Let's continue the analysis with our multi-table queries.

### Cross Table Queries

From the Template SQL Queries there are a series of queries requested. You are responsible for coding the result. Use the pattern above to accomplish the coding objective.  Copy and paste the question (column B Action) into a markdown cell and answer the query. Use the pattern that you have been using above. 

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter your code below.  Just keep on inserting cells as you need them.
    </font></div>

In [273]:
# TODO - How many posts have been created by a user that has a filled out the "AboutMe" section?
sql="""
    Select COUNT(p.Id) AS number_of_posts
    FROM Posts as p
    INNER JOIN Users as u 
    ON p.OwnerUserId = u.Id
    Where u.Id IN (SELECT Id
    FROM Users
    WHERE AboutMe IS NOT NULL);
    """
store_query("Task 3", "How many posts have been created by a user that has a filled out the 'AboutMe' section?", sql)

In [274]:
# TODO- Considering only the users with an "AboutMe," how many posts are there per user?
sql="""
    SELECT COUNT(*)::FLOAT / (SELECT COUNT(*) FROM users WHERE AboutMe IS NOT NULL) AS PostsPerUser
    FROM posts
    WHERE OwnerUserId IN (SELECT Id FROM users WHERE AboutMe IS NOT NULL);
    """
store_query("Task 3", "Considering only the users with an 'AboutMe,' how many posts are there per user?", sql)

In [275]:
# TODO- What are the Top 10 posts which have the highest cummulative (post score + comment score) score? 
sql="""
    SELECT p.Id AS post_id, (p.Score+ SUM( c.Score)) AS CumulativeScore
    FROM Posts p
    LEFT JOIN Comments c 
    ON p.Id = c.PostId
    GROUP BY p.Id, P.Score
    ORDER BY CumulativeScore DESC
    LIMIT 10;
    """
store_query("Task 3", "What are the Top 10 posts which have the highest cummulative (post score + comment score) score? ", sql)

In [276]:
# TODO - Who are the top 10 users who comment the most? 

sql="""
    SELECT c.UserId, COUNT(*) AS Comment_count, u.Reputation
    FROM Comments c
    JOIN Users u 
    on c.UserId = u.Id
    GROUP BY c.UserId
    ORDER BY Comment_count DESC
    LIMIT 10;
    """
store_query("Task 3", "Who are the top 10 users who comment the most? ", sql)

In [277]:
# TODO - Who are the top 10 users who post the most?

SQL="""
   SELECT p.OwnerUserId AS UserId , COUNT(*) AS PostCount, u.Reputation
    FROM Posts p
    JOIN Users u
    ON p.OwnerUserId = u.id
    GROUP BY p.OwnerUserId 
    ORDER BY PostCount DESC
    LIMIT 10;
    """

store_query("Task 3", "Who are the top 10 users who post the most? ", sql)

# Task 4: Check the Queries Table

Now let's tidy up and check the queries table.

First let's check it's contents:

In [278]:
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    '),
 ('Task 1', 'Create table posts', '\n    CREATE TABLE "posts" (\n   "Id" INTEGER,\n   "PostTypeId" INTEGER,\n   "AcceptedAnswerId" INTEGER,\n   "ParentId" INTEGER,\n   "CreationDate" T ... (280 characters truncated) ...    "AnswerCount" INTEGER,\n   "CommentCount" INTEGER,\n   "FavoriteCount" INTEGER,\n   "ClosedDate" TEXT,\n   "CommunityOwnedDate" TEXT \n    )\n    '),
 ('Task 1', 'Create table users', '\n    CREATE TABLE "users"(\n    "Id" INTEGER,\n    "Reputation" INTEGER,\n    "CreationDate" TEXT,\n    "DisplayName" TEXT,\n    "LastAccessDate" TE ... (60 characters truncated) ... tMe" TEXT,\n    "Views" INTEGER,\n    "UpVotes" INTEGER,\n    "DownVotes" INTEGER,\n    "ProfileImageUrl" TEXT,\n    "AccountId" INTEGER\n    )\n    '),
 ('Task 1', 'Count the number of rows in the comments table', '\n    SELECT COUNT(*) AS row_count_comments\n    FROM Comments\n    '),
 ('Task 1', 'Count the number of rows in the users table', '\n    SELECT COUNT(*) AS row_count_users\n    FROM Users\n    '),
 ('Task 1', 'Count the number of rows in the posts table', '\n    SELECT COUNT(*) AS row_count_posts\n    FROM Posts\n    '),
 ('Task 1', 'Run the query to select 5 random rows from the posts table', '\n    SELECT * \n    FROM Posts\n    ORDER BY random()\n    LIMIT 5;\n    '),
 ('Task 1', 'Run the query to select 5 random rows from the comments table', '\n    SELECT * \n    FROM Comments\n    ORDER BY random()\n    LIMIT 5;\n    '),
 ('Task 1', 'Run the query to select 5 random rows from the users table', '\n    SELECT * \n    FROM Users\n    ORDER BY random()\n    LIMIT 5;\n    '),
 ('Task 2', 'How many posts have 0 comments?', '\n    SELECT COUNT(*)\n    FROM posts\n    WHERE CommentCount == 0;\n    '),
 ('Task 2', 'How many posts have 1 comments?', '\n    SELECT COUNT(*)\n    FROM posts\n    WHERE CommentCount == 1;\n    '),
 ('Task 2', 'How many posts have 2 comments or more?', '\n    SELECT COUNT(*)\n    FROM posts\n    WHERE CommentCount >= 2;\n    '),
 ('Task 2', 'Find the 5 posts with the highest viewcount', '\n    SELECT Id AS Post_id , ViewCount\n    FROM Posts\n    ORDER BY ViewCount DESC\n    LIMIT 5;\n    '),
 ('Task 2', 'Find the top 5 posts with the highest scores', '\n    SELECT Id AS Post_id , Score\n    FROM Posts\n    ORDER BY Score DESC\n    LIMIT 5;\n    '),
 ('Task 2', 'What are the 5 most frequent scores on posts?', '\n    SELECT Score, COUNT(*) AS score_count\n    FROM Posts\n    GROUP BY Score\n    ORDER BY score_count DESC\n    LIMIT 5;\n    '),
 ('Task 2', "How many posts have the keyword 'data' in their tags?", "\n    SELECT COUNT(*) AS number_of_posts_with_data_tag\n    FROM POSTS\n    WHERE Tags LIKE '%<data>%';\n    "),
 ('Task 2', 'What are the 5 most frequent commentcount for posts?', '\n    SELECT CommentCount, COUNT(*) AS CommentCount_frequently\n    FROM Posts\n    Group BY CommentCount\n    ORDER BY CommentCount_frequently\n    LIMIT 5;\n    '),
 ('Task 2', 'How many posts have an accepted answer?', '\n    SELECT COUNT(*) As count_accepted_answer\n    FROM Posts\n    WHERE AcceptedAnswerId <> 0;\n    '),
 ('Task 2', 'What is the average reputation of table users?', '\n    SELECT AVG(Reputation) AS user_agerage_reputation\n    FROM Users;\n    '),
 ('Task 2', 'What are the min and max reputation of users?', '\n    SELECT MIN(Reputation) AS user_min_reputation , MAX(Reputation) AS user_max_reputation \n    FROM Users;\n    '),
 ('Task 2', 'What is the length of the body of 5 most viewed posts?', '\n    SELECT Id as Post_id, LEN_BODY\n    FROM Posts\n    ORDER BY ViewCount DESC\n    LIMIT 5;\n    '),
 ('Task 2', 'How many different locations are there in the users table?', '\n    SELECT COUNT(DISTINCT  Location ) AS location_count\n    FROM Users;\n    '),
 ('Task 2', 'What are the top 5 locations of users?', '\n    SELECT Location, COUNT(*) as number_of_users\n    FROM Users\n    GROUP BY Location\n    ORDER BY number_of_users DEsc\n    LIMIT 5;\n    '),
 ('Task 2', 'Rank the days of the week from highest to lowest in terms of the volume of ViewCount as a percentage', "\n    SELECT CAST (strftime('%w', CreationDate) AS INTEGER) AS DayOfWeek,\n       COUNT(*) * 100.0 / (SELECT COUNT(*) FROM posts) AS Percentage\n    FROM posts\n    GROUP BY DayOfWeek\n    ORDER BY Percentage DESC;\n    "),
 ('Task 3', "How many posts have been created by a user that has a filled out the 'AboutMe' section?", '\n    Select COUNT(p.Id) AS number_of_posts\n    FROM Posts as p\n    INNER JOIN Users as u \n    ON p.OwnerUserId = u.Id\n    Where u.Id IN (SELECT Id\n    FROM Users\n    WHERE AboutMe IS NOT NULL);\n    '),
 ('Task 3', "Considering only the users with an 'AboutMe,' how many posts are there per user?", '\n    SELECT COUNT(*)::FLOAT / (SELECT COUNT(*) FROM users WHERE AboutMe IS NOT NULL) AS PostsPerUser\n    FROM posts\n    WHERE OwnerUserId IN (SELECT Id FROM users WHERE AboutMe IS NOT NULL);\n    '),
 ('Task 3', 'What are the Top 10 posts which have the highest cummulative (post score + comment score) score? ', '\n    SELECT p.Id AS post_id, (p.Score+ SUM( c.Score)) AS CumulativeScore\n    FROM Posts p\n    LEFT JOIN Comments c \n    ON p.Id = c.PostId\n    GROUP BY p.Id, P.Score\n    ORDER BY CumulativeScore DESC\n    LIMIT 10;\n    '),
 ('Task 3', 'Who are the top 10 users who comment the most? ', '\n    SELECT c.UserId, COUNT(*) AS Comment_count, u.Reputation\n    FROM Comments c\n    JOIN Users u \n    on c.UserId = u.Id\n    GROUP BY c.UserId\n    ORDER BY Comment_count DESC\n    LIMIT 10;\n    '),
 ('Task 3', 'Who are the top 10 users who post the most? ', '\n    SELECT c.UserId, COUNT(*) AS Comment_count, u.Reputation\n    FROM Comments c\n    JOIN Users u \n    on c.UserId = u.Id\n    GROUP BY c.UserId\n    ORDER BY Comment_count DESC\n    LIMIT 10;\n    ')]

## Drop Duplicates

You likely have some duplicates. Lets drop them.

In [279]:
# Read the queries table into pandas
sql = 'SELECT * FROM queries'
queries = pd.read_sql(sql, con)

# Drop duplicates
queries.drop_duplicates(inplace = True) # drop duplicates

## Case Issues

Remember, SQL is case insensitive. Pandas IS case sensitive. Lets deal with this now by making all of the text uppercase.

In [280]:
for col in queries.columns:
    queries[col] = queries[col].str.upper()
    
queries

,task,action,query
0,TASK 1,CREATE TABLE COMMENTS,"\n CREATE TABLE ""COMMENTS"" (\n ""ID"" INTE..."
1,TASK 1,CREATE TABLE POSTS,"\n CREATE TABLE ""POSTS"" (\n ""ID"" INTEGER,..."
2,TASK 1,CREATE TABLE USERS,"\n CREATE TABLE ""USERS""(\n ""ID"" INTEGER,..."
3,TASK 1,COUNT THE NUMBER OF ROWS IN THE COMMENTS TABLE,\n SELECT COUNT(*) AS ROW_COUNT_COMMENTS\n ...
4,TASK 1,COUNT THE NUMBER OF ROWS IN THE USERS TABLE,\n SELECT COUNT(*) AS ROW_COUNT_USERS\n ...
5,TASK 1,COUNT THE NUMBER OF ROWS IN THE POSTS TABLE,\n SELECT COUNT(*) AS ROW_COUNT_POSTS\n ...
6,TASK 1,RUN THE QUERY TO SELECT 5 RANDOM ROWS FROM THE...,\n SELECT * \n FROM POSTS\n ORDER BY ...
7,TASK 1,RUN THE QUERY TO SELECT 5 RANDOM ROWS FROM THE...,\n SELECT * \n FROM COMMENTS\n ORDER ...
8,TASK 1,RUN THE QUERY TO SELECT 5 RANDOM ROWS FROM THE...,\n SELECT * \n FROM USERS\n ORDER BY ...
9,TASK 2,HOW MANY POSTS HAVE 0 COMMENTS?,\n SELECT COUNT(*)\n FROM POSTS\n WHE...
10,TASK 2,HOW MANY POSTS HAVE 1 COMMENTS?,\n SELECT COUNT(*)\n FROM POSTS\n WHE...
11,TASK 2,HOW MANY POSTS HAVE 2 COMMENTS OR MORE?,\n SELECT COUNT(*)\n FROM POSTS\n WHE...
12,TASK 2,FIND THE 5 POSTS WITH THE HIGHEST VIEWCOUNT,"\n SELECT ID AS POST_ID , VIEWCOUNT\n FR..."
13,TASK 2,FIND THE TOP 5 POSTS WITH THE HIGHEST SCORES,"\n SELECT ID AS POST_ID , SCORE\n FROM P..."
14,TASK 2,WHAT ARE THE 5 MOST FREQUENT SCORES ON POSTS?,"\n SELECT SCORE, COUNT(*) AS SCORE_COUNT\n ..."
15,TASK 2,HOW MANY POSTS HAVE THE KEYWORD 'DATA' IN THEI...,\n SELECT COUNT(*) AS NUMBER_OF_POSTS_WITH_...
16,TASK 2,WHAT ARE THE 5 MOST FREQUENT COMMENTCOUNT FOR ...,"\n SELECT COMMENTCOUNT, COUNT(*) AS COMMENT..."
17,TASK 2,HOW MANY POSTS HAVE AN ACCEPTED ANSWER?,\n SELECT COUNT(*) AS COUNT_ACCEPTED_ANSWER...
18,TASK 2,WHAT IS THE AVERAGE REPUTATION OF TABLE USERS?,\n SELECT AVG(REPUTATION) AS USER_AGERAGE_R...
19,TASK 2,WHAT ARE THE MIN AND MAX REPUTATION OF USERS?,\n SELECT MIN(REPUTATION) AS USER_MIN_REPUT...
20,TASK 2,WHAT IS THE LENGTH OF THE BODY OF 5 MOST VIEWE...,"\n SELECT ID AS POST_ID, LEN_BODY\n FROM..."
21,TASK 2,HOW MANY DIFFERENT LOCATIONS ARE THERE IN THE ...,\n SELECT COUNT(DISTINCT LOCATION ) AS LOC...
22,TASK 2,WHAT ARE THE TOP 5 LOCATIONS OF USERS?,"\n SELECT LOCATION, COUNT(*) AS NUMBER_OF_U..."
23,TASK 2,RANK THE DAYS OF THE WEEK FROM HIGHEST TO LOWE...,"\n SELECT CAST (STRFTIME('%W', CREATIONDATE..."
24,TASK 3,HOW MANY POSTS HAVE BEEN CREATED BY A USER THA...,\n SELECT COUNT(P.ID) AS NUMBER_OF_POSTS\n ...
25,TASK 3,"CONSIDERING ONLY THE USERS WITH AN 'ABOUTME,' ...",\n SELECT COUNT(*)::FLOAT / (SELECT COUNT(*...
26,TASK 3,WHAT ARE THE TOP 10 POSTS WHICH HAVE THE HIGHE...,"\n SELECT P.ID AS POST_ID, (P.SCORE+ SUM( C..."
27,TASK 3,WHO ARE THE TOP 10 USERS WHO COMMENT THE MOST?,"\n SELECT C.USERID, COUNT(*) AS COMMENT_COU..."
28,TASK 3,WHO ARE THE TOP 10 USERS WHO POST THE MOST?,"\n SELECT C.USERID, COUNT(*) AS COMMENT_COU..."

In [281]:
# Write the now deduped uppercase dataframe back to sqlite and replace the table
queries.to_sql('queries', con, if_exists='replace', index=False)

## Use Case

Now that we have this queries table, lets give you some ideas about how you would use it.

Suppose you wanted to find all of the queries where you did a GROUP BY:

In [282]:
%%sql
SELECT query
    FROM queries
        WHERE query LIKE '%GROUP BY%'

 * sqlite:///chatdata.db
Done.

[('\n    SELECT SCORE, COUNT(*) AS SCORE_COUNT\n    FROM POSTS\n    GROUP BY SCORE\n    ORDER BY SCORE_COUNT DESC\n    LIMIT 5;\n    ',),
 ('\n    SELECT COMMENTCOUNT, COUNT(*) AS COMMENTCOUNT_FREQUENTLY\n    FROM POSTS\n    GROUP BY COMMENTCOUNT\n    ORDER BY COMMENTCOUNT_FREQUENTLY\n    LIMIT 5;\n    ',),
 ('\n    SELECT LOCATION, COUNT(*) AS NUMBER_OF_USERS\n    FROM USERS\n    GROUP BY LOCATION\n    ORDER BY NUMBER_OF_USERS DESC\n    LIMIT 5;\n    ',),
 ("\n    SELECT CAST (STRFTIME('%W', CREATIONDATE) AS INTEGER) AS DAYOFWEEK,\n       COUNT(*) * 100.0 / (SELECT COUNT(*) FROM POSTS) AS PERCENTAGE\n    FROM POSTS\n    GROUP BY DAYOFWEEK\n    ORDER BY PERCENTAGE DESC;\n    ",),
 ('\n    SELECT P.ID AS POST_ID, (P.SCORE+ SUM( C.SCORE)) AS CUMULATIVESCORE\n    FROM POSTS P\n    LEFT JOIN COMMENTS C \n    ON P.ID = C.POSTID\n    GROUP BY P.ID, P.SCORE\n    ORDER BY CUMULATIVESCORE DESC\n    LIMIT 10;\n    ',),
 ('\n    SELECT C.USERID, COUNT(*) AS COMMENT_COUNT, U.REPUTATION\n    FROM COMMENTS C\n    JOIN USERS U \n    ON C.USERID = U.ID\n    GROUP BY C.USERID\n    ORDER BY COMMENT_COUNT DESC\n    LIMIT 10;\n    ',),
 ('\n    SELECT C.USERID, COUNT(*) AS COMMENT_COUNT, U.REPUTATION\n    FROM COMMENTS C\n    JOIN USERS U \n    ON C.USERID = U.ID\n    GROUP BY C.USERID\n    ORDER BY COMMENT_COUNT DESC\n    LIMIT 10;\n    ',)]

## Now Your Turn
Find the queries that have 'DISTINCT' in them. You can do it with the %sql command or with Pandas and sql.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [283]:
# TODO
%sql SELECT query FROM queries WHERE query LIKE '%DISTINCT%'

 * sqlite:///chatdata.db
Done.

[('\n    SELECT COUNT(DISTINCT  LOCATION ) AS LOCATION_COUNT\n    FROM USERS;\n    ',)]

# Close SQLite

It is good practise to close all relational databases as soon as you are finished updating them.

In [284]:
con.close()

# All Done!

Great job. You now have a good idea for how to use sql and pandas with sql. You can create your own databases from csv files and you can do extensive querying using sql. These are valuable skills that will take you a long ways in todays technological world.